@color1: rgb(255, 82, 82);
@button-color-1: #2C3963;
@button-color-2: #ababab;
@max-menu-width: 500px;
*{
  font-family: 'Roboto', sans-serif;
}

.outside{
  position: fixed;
  color: rgba(0,0,0,0.6);
  top:10px;
  left:10px;
  z-index: 	5000;
}

.right{
  float:right;
}

.left{
  float: left;
}

.seperator{
  border-bottom: gray solid 1px;
  float: none;
}
paper-button{
  border-radius: 0;
}

.center-horizontal{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.center-vertical{
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.center{
  position: relative;
  margin: auto;
}

.content-wrap{
  position: absolute;
  padding:0;
  margin:0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu-wrap{
  position: relative;
  max-width: @max-menu-width;
  height: 100%;
  width: 100%;

}

.menu-wrap *{
  //margin-bottom: 20px;
}

#login-label{

}

.login-button{
  background: @color1;
  color:white;
  position: relative;
  margin: auto;
  width: 100%;
  height: 80px;
  font-size: 40px;
  line-height: 20px;
}

#login-google-button{
  background-color:#DD4B39;
  font-variant: normal;

}

#login-facebook-button{
  background-color: #3B5998;
}


.menu-button{
  background: @button-color-1;
  position: relative;
  margin: auto;
  width: 100%;
  height: 80px;
  font-size: 40px;
  line-height: 20px;
  margin-bottom: 20px;
}

.settings-button{
  background: @button-color-2;
  position: relative;
  margin: auto;
  min-width: 80px;
  min-height: 40px;
  font-size: 20px;
  line-height: 10px;
  //margin-bottom: 20px;
}

.settings-card{
  position: relative;
  margin: auto;
  //width: 100%;
  margin-bottom: 20px;
  padding: 16px;
}

.settings-card p, .settings-card .avatar-small{
  float:left;
}

.setting-choice{
  float: none;
  width: 100%;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.setting-choice.selected{
  background-color: gray;
}


.settings-card .avatar-small{
  margin-right:16px;
}

.settings-card p{
  margin:0;
}

.settings-card .card-content:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

--paper-dialog{
  background: red;
}


.settings-dialog{
  max-width: 100%;
  width: 100%;
}
.settings-card paper-dropdown-menu{
  width: 100%;

  /deep/ label{
    font-size: 23px !important;
    color: #212121 !important;
  }
  label{
    font-size: 23px !important;
    color: #212121 !important;
  }

  /deep/ input{
    color: #737373 !important;
  }
  input{
    color: #737373 !important;
  }

  /deep/ iron-icon{
    display: none !important;
  }
  iron-icon{
    display: none !important;
  }

}

.game-label-wrap{
  width: 100%;
  mergin: auto 10px;
}

.game-label{
  width: auto;
}

.forward-icon{
  float: right;;
}

.player-lobby-card{
  width: 100%;
  display: block;
  min-height: 80px;
  margin-bottom: 10px;
  border-radius: 0;
}

.player-lobby-card p{

}

.player-lobby-card *{
  float: left;
}

.player-lobby-card paper-menu-button {
  float: right;
}

.player-lobby-card paper-item{
  float: none;
}

.avatar, .avatar-small{
  border-radius: 50%;
  border: none;
}

.avatar{
  background: red;
  width: 75px;
  height: 75px;
}

.avatar-small{
  background: red;
  width: 50px;
  height: 50px;
}

.user-data{
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-data *{
  float: left;
}

.user-data img{
  margin:0;
  margin-right: 16px;
}

.user-data p{
  margin:0;
}

.user-data::after, .game-label-wrap:after, .settings-card:after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

//******************************//
//******GAMEPLAY COMPONENT******//
//******************************//
.white-cards-wrapper{
  clear: both;
  padding-top: 40px;
  .white-card{
    paper-material{
      width: 150px;
      height: 200px;
      padding: 20px;
      background-color: white;
      border: 1px solid black;
      //Positioning
      display: block;
      float: left;

      &:hover{
        background-color: red;
      }
    }
  }
}

.black-card{
  paper-material{
   width: 150px;
   height: 200px;
   padding: 20px;
   background: black;
   color:white;
   display: block;
   float: left;
  }
}
