<div class="content-wrap layout vertical">
  <h1 class="outside">Home menu</h1>
  <div class="menu-wrap center">
    <div class="user-data">
      <img class="avatar" src="">
      <p>
        John Doe<br>
        username
      </p>
    </div>
    <paper-button (click)=create() class="menu-button">Create Game</paper-button>
    <paper-button (click)=join() class="menu-button">Join Game</paper-button>
    <paper-button (click)=settings() class="menu-button">Settings</paper-button>
  </div>
</div>
