<interface-header></interface-header>
<h1 class="outside">Settings Component</h1>
<div class="layout vertical">
  <div class="menu-wrap center">
    <paper-material class="settings-card">
      <img class="avatar-small" [src]="_accountService.profile.picture">
      <p>
        {{_accountService.profile.name}}
      </p>
      <paper-button (click)="logout()" class="settings-button right">Logout</paper-button>
    </paper-material>
    <paper-material class="settings-card">
        <paper-dropdown-menu label="Language" horizontal-align="left">
        <paper-menu class="dropdown-content" selected="0">
          <paper-item>English</paper-item>
          <paper-item>Latvian</paper-item>
          <paper-item>German</paper-item>
        </paper-menu>
      </paper-dropdown-menu>
      <!-- <div class="seperator"></div> -->
      <paper-dropdown-menu label="Theme" horizontal-align="left">
      <paper-menu class="dropdown-content" selected="0">
        <paper-item>Light</paper-item>
        <paper-item>Blue</paper-item>
        <paper-item>Dark</paper-item>
      </paper-menu>
    </paper-dropdown-menu>

    </paper-material>
    <paper-button (click)="language.toggle()">Theme dialog</paper-button>
    <!-- <paper-dialog id='language' #language entry-animation="scale-up-animation" exit-animation="fade-out-animation" role="dialog"> -->
    <paper-dialog id='language' #language role="dialog">
      <h2>Theme</h2>
      <paper-listbox dialog-confirm selected='0'>
        <paper-item dialog-confirm>Light</paper-item>
        <paper-item dialog-confirm>Blue</paper-item>
        <paper-item dialog-confirm>Dark</paper-item>
      </paper-listbox>
      <!-- <paper-button dialog-confirm class="setting-choice selected">Light</paper-button>
      <paper-button dialog-confirm class="setting-choice">Dark</paper-button>
      <paper-button dialog-confirm class="setting-choice">Blue</paper-button> -->
    </paper-dialog>

  </div>
</div>
<script>
var lang = document.getElementById('language');
console.debug(lang);
</script>
