<interface-header></interface-header>
<h1 class="outside">Settings Component</h1>
<div class="layout vertical">
  <div class="menu-wrap center" id="settings">
    <paper-material class="settings-card">
      <img class="avatar-small" [src]="_accountService.profile.picture">
      <p>
        {{_accountService.profile.name}}
      </p>
      <paper-button (click)="logout()" class="settings-button right">Logout</paper-button>
    </paper-material>
    <!-- <paper-material class="settings-card">
        <paper-dropdown-menu label="Language" horizontal-align="left">
        <paper-menu class="dropdown-content" selected="0">
          <paper-item>English</paper-item>
          <paper-item>Latvian</paper-item>
          <paper-item>German</paper-item>
        </paper-menu>
      </paper-dropdown-menu> -->
      <!-- <div class="seperator"></div> -->
      <!-- <paper-dropdown-menu label="Theme" horizontal-align="left">
      <paper-menu class="dropdown-content" selected="0">
        <paper-item>Light</paper-item>
        <paper-item>Blue</paper-item>
        <paper-item>Dark</paper-item>
      </paper-menu>
    </paper-dropdown-menu>

    </paper-material> -->
    <paper-listbox id="settings">
      <paper-item><paper-button (click)="languageDialog.toggle()">Language</paper-button></paper-item>
      <paper-item><paper-button (click)="themeDialog.toggle()">Theme</paper-button></paper-item>
      <paper-item><p class="left">Notifcations</p><paper-toggle-button class="right"></paper-toggle-button></paper-item>
      <paper-item>Sound<paper-toggle-button></paper-toggle-button></paper-item>
      <paper-item>Vibration<paper-toggle-button></paper-toggle-button></paper-item>
    </paper-listbox>

    <paper-dialog #languageDialog  class="settings-dialog" entry-animation="fade-in-animation" exit-animation="fade-out-animation" role="dialog">
    <!-- <paper-dialog id='language' #language class="settings-dialog" role="dialog"> -->
      <h2>Laguage</h2>
      <paper-listbox modal selected='0'>
        <paper-item dialog-confirm>English</paper-item>
        <paper-item dialog-confirm>Latvian</paper-item>
        <paper-item dialog-confirm>German</paper-item>

      </paper-listbox>
    </paper-dialog>

    <paper-dialog  #themeDialog class="settings-dialog" entry-animation="slide-from-bottom-animation" exit-animation="ripple-animation" role="dialog">
    <!-- <paper-dialog id='language' #language class="settings-dialog" role="dialog"> -->
      <h2>Theme</h2>
      <paper-listbox modal selected='0'>
        <paper-item dialog-confirm>Light</paper-item>
        <paper-item dialog-confirm>Blue</paper-item>
        <paper-item dialog-confirm>Dark</paper-item>
      </paper-listbox>
    </paper-dialog>



  </div>
</div>
<script>
var lang = document.getElementById('language');
console.debug(lang);
</script>
