<interface-header></interface-header>
<h1 class="outside">Settings Component</h1>
<div class="layout vertical">
  <div class="menu-wrap center">
    <paper-material class="settings-card">
      <img class="avatar-small" src="">
      <p>
        John Doe<br>
        username
      </p>
      <paper-button (click)="logout()" class="settings-button right">Logout</paper-button>
    </paper-material>
    <paper-material class="settings-card">
        <paper-dropdown-menu label="Language" horizontal-align="left">
        <paper-menu class="dropdown-content" selected="0">
          <paper-item>English</paper-item>
          <paper-item>Latvian</paper-item>
          <paper-item>German</paper-item>
        </paper-menu>
      </paper-dropdown-menu>
      <!-- <div class="seperator"></div> -->
      <paper-dropdown-menu label="Theme" horizontal-align="left">
      <paper-menu class="dropdown-content" selected="0">
        <paper-item>Light</paper-item>
        <paper-item>Blue</paper-item>
        <paper-item>Dark</paper-item>
      </paper-menu>
    </paper-dropdown-menu>
    </paper-material>
  </div>
</div>
