<interface-header></interface-header>
<h1 class="outside">CreateGame</h1>
<div class="menu-wrap center">
  <div class='game-label-wrap'>
  <paper-input label="Game name" #gameLabel focused=true [disabled]="submited" class="game-label center-horizontal left"></paper-input>
  <paper-icon-button (click)="submitGameLabel(gameLabel)" icon='done' class='right' ></paper-icon-button>
  </div>
  <div class="player-list" *ngIf="submited">
    <host-card [me]="me"></host-card>
      <player-card *ngFor="#player of players" [player]="player" (kick)="onKick($event, toast)" (ban)="onBan($event, toast)"></player-card>
  </div>
  <paper-icon-button icon="arrow-forward" [hidden] = "!submited" class="forward-icon"></paper-icon-button>
  <paper-toast #toast id="toast" text=""></paper-toast>
</div>
{{bans}}
